extends layout.pug

block content 

       
    div.container 
        h1.intro-msg This App will allow users to add, delete and edit products.
        p.description This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service.
        a.featured(href="/products/new-form") Add Products.